<h3>{{ _('Pushover Configuration') }}</h3>

{% trans %}<p>
    In order to use the Pushover plugin, you need to configure your Pushover
    user key below. You can find those in
    <a href="https://pushover.net/" target="_blank">your Pushover account settings</a>.
</p>{% endtrans %}

<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Sound') }}</label>
        <div class="controls">
            <select id="pushover-sound" data-bind="value: settings.plugins.pushover.sound">
                {% for item in plugin_pushover_sounds -%}
                    <option value="{{ item }}">{{ item }}</option>
                {%- endfor %}
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('User Key') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" id="userkey" data-bind="value: settings.plugins.pushover.user_key">
        </div>
    </div>

        <div class="control-group">
            <label class="control-label">{{ value.name }}</label>
            <div class="controls">
                <select data-bind="value: settings.plugins.pushover.events.{{ key }}.priority">
                    <option value="">{{ _('Off') }}</option>
                    <option value="-2">{{ _('Lowest Priority') }}</option>
                    <option value="-1">{{ _('Low Priority') }}</option>
                    <option value="0">{{ _('Normal Priority') }}</option>
                    <option value="1">{{ _('High Priority') }}</option>
                </select>
                {% if value.help is defined %}
                    <span class="help-inline">{{ value.help }}</span>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    <div class="control-group">
        <div class="controls">
            <button class="btn" data-bind="click: function() { testNotification() }"><i class="icon-spinner icon-spin" data-bind="visible: testActive()"></i> {{ _('Test Pushover') }}</button> <span data-bind="visible: testResult() && testSuccessful()">{{ _('Sent successfully') }}</span><span data-bind="visible: testResult() && !testSuccessful()">{{ _('Sending failed') }}: <span data-bind="text: testMessage"></span></span>
        </div>
    </div>
     <div>
        <div><small><a href="#" class="muted" onclick="$(this).children().toggleClass('icon-caret-right icon-caret-down').parent().parent().parent().next().slideToggle('fast')"><i class="icon-caret-right"></i> {{ _('Advanced options') }}</a></small></div>
        <div class="hide">
            <div class="control-group">
                <label class="control-label">{{ _('API Key') }}</label>
                <div class="controls">
                    <input type="text" class="input-block-level" id="apikey" data-bind="value: settings.plugins.pushover.token">
                    <span class="help-inline">{{ _('Use your own API Key, this is not necessary for this plugin too work') }}</span>
                </div>
            </div>
        </div>
     </div>
</form>
